@charset "UTF-8";
#container{width: 100%;margin: 0 auto;text-align: center;}
.title{
	height:140px;
	font-size: 1.5em;
	background: #00C73C;
	line-height: 130px;
	margin-bottom: 20px;
}
nav{text-align: right; margin-top: 30px;margin-right: 20px;}
nav ul{list-style: none;}
nav ul li{
	display:inline;
	padding: 10px 20px;
	border-top: 3px solid #222;
	margin-right: 20px;
}
nav ul li:hover{background: #ccc;}
nav ul li a{text-decoration: none; color: #000}
/* footer{margin-left: 25%;} */

table{width: 400px; margin: 0 auto;}
table, td{border: 1px solid #ccc; border-collapse: collapse;
          height: 30px; padding: 5px}
 
input[type="text"], [type="password"]{
	width: 200px; height: 20px;
}
textarea{width:95%; height: 300px}
a{text-decoration: none; color: black;}
#table1{width: 500px;}
#table2{width: 700px; margin:0 auto}
#table2 .w_title{width: 650px}
#table3{width: 700px;}
#table3 .input{width: 580px;}
#table3 td:nth-child(2n-1){width: 70px;}
#table3 td:nth-child(2n){text-align: left; text-indent: 10px;}
.thead{
	background-color: #eee;
}

.mainimg > img {
  
  animation: watch 1s linear infinite;
}

/* 탑바 로고 움직임 */
@keyframes watch {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translate(0px, 5px);
  }
  66% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0);
  }
}